*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', Arial;
    background-color: white;
    font-size: 19px;
    font-weight: 600;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    width: 67%;
    max-width: 1300px;
    margin: auto;
}

.container-small{
    width: 82%;
    margin: auto;
}

.button{
    font-size: 16px;
    text-decoration: none;
    padding: 8px 24px;
}

.blue{
    background-color: #0061ff;
    color: white;
}

.blue:hover{
    background-color: #3180ff;
}

.far, .fas{
    margin-right: 5px;
}

h1{
    font-size: 50px;
    font-weight: 700;
}

h2{
    font-size: 30px;
    font-weight: 800;
}

h3{
    font-size: 20px;
    font-weight: 800;
}

a{
    color: #0569ff;
}

/* header  */
header{
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: white;
    z-index: 10;
}

header .row{
    height: 95px;
}

header #logo{
    width: 10%;
    height: 100%;
    float: left;
}

header img{
    width: 78%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

header ul{
    line-height: 95px;
}

header nav > ul > li{
    display: inline-block;
    margin: 0px 21px;
}

header nav > ul > li > a{
    color: black;
    text-decoration: none;
    padding: 30px 0px;
    position: relative;
}

header nav > ul > li > a:hover{
    border-bottom: 2px solid black;
}

header .dropdown-content{
    display: none;
    width: 300px;
    position: absolute;
    padding: 20px;
    line-height: 40px;
    background-color: white;
    border-left: 2px solid black;;
    list-style: none;
    z-index: 2;
}

header .dropdown:hover .dropdown-content{
    display: block;
}

.layover{
    display: none;
}

header .dropdown:hover .layover{
    display: block;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    position: fixed;
    top: 95px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.4);
}

header .dropdown a{
    color: black;
    text-decoration: none;
}

header .dropdown a:hover{
    text-decoration: underline;
}

header .left{
    width: 40%;
    height: 100%;
    float: left;
    padding-left: 15px;
}

header .right{
    width: 45%;
    height: 100%;
    float: left;
    padding-right: 25px;
}

header .right > ul{
    float: right;
}

header .inizia{
    width: 5%;
    height: 100%;
    float: left;
}

header .inizia a{
    float: right;
    position: relative;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
}

/* jumbo  */

.jumbotron{
    width: 100%;
    margin-top: 95px;
    background-color: #b5d1e8;
    height: 875px;
}

.jumbotron h1{
    text-align: left;
    font-size: 92px;
    padding-top: 95px;
    padding-bottom: 50px;
}

.jumbotron .left{
    float: left;
    width: 35%;
}

.jumbotron .left p{
    padding-right: 60px;
    margin-bottom: 50px;
}

.jumbotron .right{
    float: left;
    width: 65%;
    object-fit: cover;
}

.jumbotron .trial{
    padding: 10px 22px;
}

.jumbotron #annulla{
    font-size: 17px;
    padding: 20px 0px;
}

.fa-arrow-down{
    font-size: 50px;
    margin-top: 35px;
}

/* main  */
.plans{
    width: 100%;
}

.plans-row{
    width: 100%;
}

.center{
    margin: 0px 50px;
}

main .plans h1{
    width: 100%;
    margin-top: 250px;
    margin-bottom: 80px;
}

main .plans .column{
    height: 1150px;
    border: 2px solid #e1e1e3;
}

main .column{
    float: left;
    width: calc((100% - 100px) / 3);
}

hr{
    border: 1px solid #e1e1e3;
}

main .fake-checkbox{
    display: inline-block;
    height: 25px;
    width: 25px;
    border-radius: 12.5px;
}

main .payment-type span{
    margin-left: 5px;
    margin-right: 20px;
    vertical-align: top;
    font-size: 18px;
}

main .payment-type{
    margin-bottom: 50px;
}

main .checked{
    border: 6px solid #005eff;
}

main .unchecked{
    border: 2px solid lightgray;
}

main .user{
    margin: 15px 0px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

main .column-content{
    padding: 30px 35px 60px 35px;
}

main .column-content h2{
    margin-bottom: 15px;
}

main .column-content h3{
    font-size: 18px;
    margin-bottom: 12px;
}

main .column-content .month{
    color: #73828e;
    font-size: 16px;
    margin-bottom: 50px;
}

main .features{
    margin-bottom: 20px;
    font-size: 16px;
}

main .column-content .column-button{
    padding: 10px 19%;
    text-decoration: none;
    margin: 50px 0px;
    display: block;
    font-size: 16px;
}

main .column-content hr{
    width: 50px;
    margin: 40px 0px;
}

main .column-content li{
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 700;
    margin-left: -15px;
    margin-top: 20px;
}

.fa-check{
    color: blue;
}

main .bottom-plan{
    width: 100%;
    margin-top: 60px;
    border: 2px solid #e1e1e3;
}

main .content-bottom{
    padding: 30px 25px;
    position: relative;
}

main .content-bottom h3{
    margin: 20px 0px;
}

main .content-bottom .features{
    font-size: 16px;
    margin-top: 30px;
}

main .content-bottom .button.blue{
    position: absolute;
    top: 30px;
    right: 25px;
    padding: 10px 85px;
}

.partner{
    width: 100%;
    margin: 180px 0px 140px 0px;
}

.partner img{
    width: 55%;
    float: left;
}

.partner .partner-column{
    float: left;
    width: 45%;
    padding-left: 60px;
}

.partner .partner-column h2{
    margin: 40px 0px;
}

.partner .partner-column p{
    line-height: 35px;
    margin-bottom: 30px;
}

.partner .partner-column a.button.white{
    padding: 10px 30px;
}

.white{
    color: black;
    background-color: white;
    border: 2px solid black;
}

.white:hover{
    color: white;
    background-color: black;
    border: 2px solid black;
}

main .business-option{
    width: 100%;
}

main .business-option h1{
    margin-bottom: 50px;
}

main .business-row{
    margin-bottom: 100px;
}

main .business-option .business-row img{
    width: 100%;
}

main .team h1{
    width: 57%;
    margin-bottom: 30px;
}

main .team .features{
    margin-bottom: 50px;
}

main .team .features a{
    color: #0066ff;
    font-size: 18px;
}

main .column-box{
    float: left;
    height: 60vh;
}

main .column-box.center-box{
    width: calc(100% - 120vh);
    background-color: #f5f5f5;
    padding: 60px;
}

main .column-box.center-box img{
    width: 25%;
}

main .column-box.center-box hr{
    margin: 50px 0px;
    width: 50px;
}

main .column-box.center-box p:last-child{
    margin: 50px 0px;
}

main .column-box.side-box{
    width: 60vh;
}

main .column-box .row-box{
    width: 60vh;
    height: 30vh;
}

main .column-box .row-box .img-box{
    width: 30vh;
    height: 30vh;
    float: left;
}

main .column-box .row-box .img-box img{
    width: 150px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1);
}

.designit{
    border: 15px solid #d1eace;
    background-color: #a3d49c;
}

.asu{
    background-color: #610227;
}

.uf{
    background-color: #0094cf;
}

.topps{
    background-color: #ff1515;
}

.wbr{
    background-color: #d60019;
}

.hearst{
    background-color: #b5d1e8;
}

.lp{
    background-color: #051f82;
}

.cco{
    background-color: #ffd92c;
}

main .bottom-banner{
    width: 100%;
    background-color: #b5d1e8;
    padding: 150px 0px;
}

main .bottom-banner h1{
    float: left;
    width: 50%;
    color: #610227;
}

main .bottom-banner a{
    float: right;
    border: none;
    padding: 10px 80px;
}

main .accordion-menu h2{
    font-size: 40px;
    margin-top: 150px;
}

main .accordion-menu ul{
    list-style: none;
    padding-top: 50px;
    padding-bottom: 150px;
}

main .accordion-menu ul li{
    padding: 30px 0px;
}

main .accordion-menu ul li a{
    padding: 30px 0px;
    color: black;
    text-decoration: none;
    font-weight: 800;
}

main .accordion-menu li div{
    overflow: hidden;
    transition: max-height 0.3s;
    max-height: 0;
}

main .accordion-menu li:target div{
    max-height: 100px;
}

/* footer  */

footer{
    background-color: black;
    padding-top: 100px;
    padding-bottom: 50px;
    color: white;
}

footer .container-small.clearfix{
    margin-bottom: 125px;
}

footer .column-footer{
    float: left;
    width: calc(100% / 5);
}

footer .column-footer h3{
    font-size: 24px;
    margin-bottom: 30px;
}

footer .column-footer ul li{
    list-style: none;
    margin: 10px 0px;
}

footer .column-footer ul li a{
    color: white;
    text-decoration: none;
}

footer .column-footer ul li a:hover{
    text-decoration: underline;
}

footer hr{
    width: 125px;
    margin-bottom: 50px;
    border: 1px solid gray;
}

.fa-sort-up{
    padding-right: 10px;
}

footer .container-small:last-child{
    color: gray;
}

footer .language{
    padding: 0px 2px;
}
/* *** DEBUG *** */

/* .debug .row{
    background-color: red;
}

.debug #logo{
    background-color: blue;
}

.debug .left{
    background-color: violet;
}

.debug .right{
    background-color: blue;
}

.debug .inizia{
    background-color: violet;
} */

/* .debug .jumbotron{
    height: 900px;
} */

/* .container{
    background-color: rgb(255, 0, 0);
} */

/* .debug main h1{
    background-color: blue;
}

.debug main .payment-type{
    height: 25px;
    background-color: violet;
} */

/* .debug .bottom-plan{
    height: 200px;
    background-color: tomato;
} */

/* .debug .partner{
    height: 600px;
    background-color: grey;
} */

/* .debug .business-option{
    height: 1500px;
    background-color: coral;
} */

/* .debug .business-option .column{
    border: 1px solid black;
    height: 600px;
} */

/* .debug .column-box{
    border: 1px solid red;
} */

/* .debug main .column-box .row-box{
    border: 1px solid black;
} */

/* .debug .bottom-banner{
    height: 400px;
} */


