*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', Arial;
    background-color: white;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    width: 67%;
    max-width: 1300px;
    margin: auto;
}

.far, .fas{
    margin-right: 5px;
}

/* header  */
header{
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: white;
    z-index: 1;
}

header .row{
    height: 95px;
}

header #logo{
    width: 10%;
    height: 100%;
    float: left;
}

header img{
    width: 78%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

header ul{
    line-height: 95px;
}

header ul li{
    display: inline-block;
    margin: 0px 21px;
    font-size: 19px;
    font-weight: 600;
}

header ul li a{
    color: black;
    text-decoration: none;
}

header ul li a:hover{
    color: black;
    text-decoration: underline;
}

header .left{
    width: 40%;
    height: 100%;
    float: left;
    padding-left: 15px;
}

header .right{
    width: 45%;
    height: 100%;
    float: left;
    padding-right: 25px;
}

header .right ul{
    float: right;
}

header .inizia{
    width: 5%;
    height: 100%;
    float: left;
}

header .inizia a{
    float: right;
    position: relative;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
}

.button{
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    padding: 8px 24px;
}

.blue{
    background-color: #0061ff;
    color: white;
}

header .inizia a:hover{
    background-color: #3180ff;
}

/* jumbo  */

.jumbotron{
    width: 100%;
    margin-top: 95px;
    background-color: #b5d1e8;
    height: 875px;
}

.jumbotron h1{
    text-align: left;
    font-size: 92px;
    font-weight: 700;
    padding-top: 95px;
    padding-bottom: 50px;
}

.jumbotron .container-jumbo{
    width: 82%;
    margin: auto;
}

.jumbotron .left{
    float: left;
    width: 35%;
}

.jumbotron .left p{
    font-size: 19px;
    font-weight: 600;
    padding-right: 60px;
    margin-bottom: 50px;
}

.jumbotron .right{
    float: left;
    width: 65%;
    object-fit: cover;
}

.jumbotron .trial{
    font-size: 19px;
    padding: 10px 22px;
}

.jumbotron .trial:hover{
    background-color: #3180ff;
}

.jumbotron #annulla{
    font-size: 17px;
    font-weight: 600;
    padding: 20px 0px;
}

.fa-arrow-down{
    font-size: 50px;
    margin-top: 35px;
}

/* main  */
.plans{
    width: 100%;
}

.plans-row{
    width: 100%;
}

.center{
    margin: 0px 50px;
}

main h1{
    width: 100%;
    font-size: 50px;
    margin-top: 250px;
    margin-bottom: 80px;
}

main .column{
    float: left;
    width: calc((100% - 100px) / 3);
    height: 1150px;
    border: 2px solid #e1e1e3;
}

hr{
    border: 1px solid #e1e1e3;
}

main .fake-checkbox{
    display: inline-block;
    height: 25px;
    width: 25px;
    border-radius: 12.5px;
}

main .payment-type span{
    margin-left: 5px;
    margin-right: 20px;
    vertical-align: top;
    font-size: 18px;
    font-weight: 600;
}

main .payment-type{
    margin-bottom: 50px;
}

main .checked{
    border: 6px solid #005eff;
}

main .unchecked{
    border: 2px solid lightgray;
}

main .user{
    margin: 15px 0px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

main .column-content{
    padding: 30px 35px 60px 35px;
}

main .column-content h2{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 15px;
}

main .column-content h3{
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 12px;
}

main .column-content .month{
    color: #73828e;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 50px;
}

main .column-content .features{
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
}

main .column-content .column-button{
    padding: 10px 19%;
    text-decoration: none;
    margin: 50px 0px;
    display: block;
}

main .column-content .column-button:hover{
    background-color: #3180ff;
}

main .column-content .features a{
    color: #0061ff;
}

main .column-content .features a:hover{
    color: #3180ff;
}

main .column-content hr{
    width: 50px;
    margin: 40px 0px;
}

main .column-content li{
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
    margin-left: -15px;
    margin-top: 20px;
}

.fa-check{
    color: blue;
}

main .bottom-plan{
    width: 100%;
    margin-top: 60px;
    border: 2px solid #e1e1e3;
}

main .content-bottom{
    padding: 30px 25px;
    position: relative;
}

main .content-bottom h2{
    font-size: 30px;
}

main .content-bottom h3{
    margin: 20px 0px;
    font-size: 20px;
}

main .content-bottom .features{
    font-size: 16px;
    font-weight: 600;
    margin-top: 30px;
}

main .content-bottom .button.blue{
    position: absolute;
    top: 30px;
    right: 25px;
    padding: 10px 85px;
}

main .content-bottom .button.blue:hover{
    background-color: #3180ff;
}



/* footer  */



/* *** DEBUG *** */
body.debug{
    height: 3000px;
}
/* .debug .row{
    background-color: red;
}

.debug #logo{
    background-color: blue;
}

.debug .left{
    background-color: violet;
}

.debug .right{
    background-color: blue;
}

.debug .inizia{
    background-color: violet;
} */

/* .debug .jumbotron{
    height: 900px;
} */

/* .container{
    background-color: rgb(255, 0, 0);
} */

/* .debug main h1{
    background-color: blue;
}

.debug main .payment-type{
    height: 25px;
    background-color: violet;
} */

.debug .bottom-plan{
    /* height: 200px; */
    /* background-color: tomato; */
}



